.code-area {
    width: 100%;
    height: 100%;
}

.code__textarea {
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid #333;
    resize: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    color: #eee;
}